.content {
  background: #171717;
  padding-top: 40px;
  margin: auto;
  max-width: 1460px;
  width: 100%;

}

.title {
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
  padding-top: 100px;
}

.title1 {
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
  padding: 160px 0px 90px 0px;
}

.title2 {
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;

}

.logo {
  margin: auto;
  width: 1460px;
  display: flex;
  justify-content: space-between;
}

a:hover {
  background-color: #FFF;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border: 1px solid #E4B564;
  text-decoration: none;
  color: #E4B564;
  font-size: 18px;
  line-height: 30px;

}

.paragraf {
  display: block;
  color: #FFF;
  width: 1180px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 20px;
}

.paragraf2 {
  display: block;
  color: #FFF;
  width: 380px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.top1 {
  margin: auto;
  display: grid;

  gap: 20px;
  grid-template-rows: 490px;
  grid-template-columns: 470px 470px 470px;


}

.top1 .item-top1 {
  width: 470px;
  height: 470px;
  background: #634F2C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top1 .item-top2 {
  width: 470px;
  height: 470px;
  background: #B4A385;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top1 .item-top3 {
  width: 470px;
  height: 470px;
  background: #634F2C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top2 {
  margin: auto;
  display: grid;
  gap: 20px;
  grid-template-rows: 490px;
  grid-template-columns: 715px 715px;
}

.top2 .item-top4 {

  width: 715px;
  height: 470px;
  background: #635A4A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top2 .item-top5 {

  width: 715px;
  height: 470px;
  background: #B08C4D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  max-width: 1460px;
  width: 100%;

}

.center2 {
  display: grid;
  grid-template-rows: 255px 40px 103px 130px 450px;
  grid-template-columns: 467px 467px 467px;
  gap: 20px;
}

.paragraf3 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding: 40px 0px 0px 40px;
  width: 302px;


}

.item-center1 {
  grid-row-start: 1;
  grid-column-start: 1;
  background-color: #0E0E0E;
  width: 467px;
  height: 313px;


}

.item-center2 {
  grid-row-start: 1;
  grid-column-start: 2;

  background-color: #242424;
  width: 467px;
  height: 439px;
}

.item-center3 {
  grid-row-start: 1;
  grid-column-start: 3;
  background-color: #1F1F1F;
  width: 467px;
  height: 255px;
}

.item-center4 {
  grid-row-start: 3;
  grid-column-start: 1;
  background-color: #1F1F1F;
  width: 467px;
  height: 560px;
}

.item-center5 {
  grid-row-start: 4;
  grid-column-start: 2;
  background-color: #E4B564;
  width: 467px;
  height: 405px;
}

.item-center6 {
  grid-row-start: 2;
  grid-column-start: 3;
  background-color: #0E0E0E;
  width: 467px;
  height: 313px;
}

.item-center7 {
  grid-row-start: 5;
  grid-column-start: 3;
  background-color: #0A0909;
  width: 467px;
  height: 277px;
}

.end {
  width: 1920px;
  margin: 0 0 0 -230px;
  background-color: #0E0E0E;
}

.logo2 {
  margin: auto;
  width: 1460px;
  display: flex;
  justify-content: space-between;
  padding: 172px 0px 72px 0px;
}

a:hover {
  background-color: #FFF;
}

.logo2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border: 1px solid #E4B564;
  text-decoration: none;
  color: #E4B564;
  font-size: 18px;
  line-height: 30px;

}

.end1 {
  background-color: #0E0E0E;
  display: grid;
  grid-template-columns: 487px 487px 487px;
  justify-content: center;
}


.item-end1 {
  width: 487px;
  height: 391px;
  background-color: #634F2C;
  display: flex;
  align-items: center;
  justify-content: center;

}

.item-end2 {
  width: 487px;
  height: 391px;
  background-color: rgba(232, 210, 171, 0.76);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.item-end3 {
  width: 487px;
  height: 391px;
  background-color: #E4B564;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-end4 {
  width: 487px;
  height: 391px;
  background-color: #635A4A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-end5 {
  width: 487px;
  height: 391px;
  background-color: #B08C4D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-end6 {
  width: 487px;
  height: 391px;
  background-color: #634F2C;
  display: flex;
  align-items: center;
  justify-content: center;

}

.paragraf4 {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  width: 325px;
  text-align: center;
}