.top-menu-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}
.top-menu-content 
.link{
    text-decoration: none;
    color: #000;
}
.top-menu-content 
.text-item {
    
    font-size: 80px;
    font-weight: 400px;
 
    
}
.top-menu-content 
.text-item .blue{
    color: #4BCAFF;
}
.top-menu-content 
.menu-1  {
    display: flex;
    background-color: #35444F;
    justify-content: space-around;
    
}
.item-link1:hover{
    background-color: #856d6d;
}
.top-menu-content
.menu-1
.item-link1
{
    display: flex;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
align-items: center;
padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}



.top-menu-content 
.menu-1 
.item-link {
    display: flex;
    border-left: 1px solid #fff;
    align-items: center;
    padding: 20px ;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    
    
}
.left-menu-content {
    max-width: 1200px;
    width: 100%;
    margin:auto;
    display: flex;
    
   
    
}
.left-menu-content
.menu-2 {
border: 2px solid  #000;
max-width: 300px;
width: 100%;
max-height:450px;
height: 100%;
margin-top: 49px;

}
.left-menu-content
.menu-2
.item-link{
   display: block;
    text-decoration: none;
    color: #485863;
    font-size: 26px;
    padding: 25px;
    
}
.item-link:hover{
    background-color: #856d6d;

}
.right-menu-content{
    max-width: 1200px;
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 49px;
}
.right-menu-content
.img{
    width: 850px;
    height: 529px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .right-menu-content
 .content{
    margin-top: 30px;
    width: 850px;
 }
 .paragraph{
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px; 
    margin-top:  10px;
 }
.last-menu-content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.last-menu-content
.item-link{
    text-decoration: none;
}
.last-menu-content
.content{
    
    display: flex;
    justify-content: space-between;
    background-color:rgba(99, 105, 110, 0.48);
    margin-top: 49px;
}
.last-menu-content
.menu-3{
    
    display: flex;
    padding: 30px ;
    
    
}
.menu-3
.item-link{
    padding: 27px ;
    text-decoration: none;
    color: #010101;
    font-size: 25px;
    
}
.paragraph-1{
    display: flex;
    padding: 27px ;
    color: #010101;
    font-size: 25px;
    
}