.fone {
    background-image: url('./img/background\ 1.png');

    background-size: cover;
    background-repeat: no-repeat;

}

.logo {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
}

.logo1 {
    width: 180px;
    height: 55px;
    display: flex;
    align-items: center;
}

.logo2 {
    display: flex;
    width: 180px;
    height: 55px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}



.logo-link1 {
    width: 53px;
    height: 47px;
    display: inline-block;


}

.logo-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;

}

.logo-text {
    color: #ffffff;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    /* 100% */
}

.img-blok {
    padding-top: 20px;
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
}

.secret-list {
    text-align: center;
    width: 1030px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.item-text {
    padding: 20px;
    text-decoration: none;
    


}

.link {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.end {
    text-align: center;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    padding: 20px;
    
}

div.end1{
    background-color:#F26522;
    
    display: none;
   position: absolute;
    width: 295px; 
    height:  60px;
    left: 125px;
    top: 290px;
    
}
div.end1 p.paragraf1{
  position: relative;
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px; 
left: 20px;
top: 10px;
}
div.end1 p.paragraf2{
    position: relative;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; 
    left: 20px;
    top: 16px;

}
div.end1 p.paragraf3{
  position: relative;
    color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 14px; 
left: 190px;
top: 1px;

}
a.link:hover {
    color: #F26522;
    background-color: #000000;
}
a.logo-link:hover   {
    color: #F26522;
    background-color: #000000;
}
a.logo-link1:hover  {
    background-color: #F26522;

}
p:hover + div{
    display: block;
}